/* в будущем цвета заменить на переменные */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 430px;
  max-height: 6300px;
  margin: 0 auto;
  /* border: 2px solid black; */
}

.title {
  font-weight: 400;
  font-size: 26px;
  line-height: 108%;
  text-transform: uppercase;
}

.title__bold {
  font-style: italic;
  font-weight: 700;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #002424;
  /* color: var(--1); */
}

.btn {
  margin-top: 25px;
  border: none;
  border-radius: 11px;
  width: 170px;
  height: 50px;
  background: #fbc8cd;
  /* background: var(--2); */
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #002424;
  /* color: var(--1); */
}

/* First screen */

.main {
  min-height: 480px;
  background-color: #002424;
  border-radius: 20px;
  padding: 32px 22px 46px 28px;
}

.main div {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  max-width: 80px;
}

/* стиль для иконки бургер-меню с последующей заменой */
.menu_mobile {
  display: inline-block;
  max-width: 23px;
}

.title__main {
  margin-top: 41px;
  color: #fbc8cd;
  font-size: 30px;
  line-height: 100%;
}

.title__main span {
  display: block;
  color: #fff;
  /* color: var(--5); */
  line-height: 113%;
}

.main h2 {
  color: #fff;
  /* color: var(--5); */
  font-size: 27px;
  line-height: 126%;
}

.main p {
  margin-top: 4px;
  max-width: 260px;
  line-height: 114%;
  color: #fff;
  /* color: var(--5); */
}

.details {
  margin-top: 41px;
  list-style: none;
}

.details__item {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  color: #fff;
  /* color: var(--5); */
  display: flex;
}

.details__item img {
  margin-right: 6px;
}

/* Second screen - Section Why-ness of the course */
.why {
  margin-top: 36px;
  padding: 28px 0 0 28px;
  min-height: 348px;
  border-radius: 20px;
  background-color: #f5f5f5;
  /* background-color: var(--6) */
}

.why h2 span {
  display: block;
}

.why .text {
  max-width: 294px;
  margin-top: 22px;
}

/* Third screen - Section Who is this course for? */
.customers {
  margin-top: 36px;
  /* padding: 0 0 0 28px; */
  min-height: 360px;
  /* border-radius: 20px; */
  /* background-color: var(--6) */
}

.customers__item {
  /* max-width: 344px; */
  height: 88px;
  margin-top: 16px;
  padding: 21px 26px 17px 26px;
  border-radius: 20px;
  background-color: #e5f8c8;
  /* background: var(--3); */
}

/* Forth screen - Section Why is this course unique? */
.uniqueness {
  margin-top: 36px;
  padding: 28px 26px 28px 28px;
  min-height: 284px;
  border-radius: 20px;
  background-color: #f5f5f5;
  /* background-color: var(--6) */
}

.uniqueness h2 span {
  display: block;
}

.uniqueness__list {
  margin-top: 18px;
  list-style: none;
  min-height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Section After the course */
.after {
  margin-top: 35px;
  padding: 28px 18px 18px 28px;
  border: 1.4px solid #8bac72;
  /* border: 1.40px solid var(--4); */
  border-radius: 20px;
}

.after .title span {
  display: block;
}

.title_green {
  font-style: italic;
  font-weight: 700;
  color: #8bac72;
  /* color: var(--4); */
}

.after__list {
  /* margin-top: 15px; */
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* .after__item > .text {
  line-height: 129%;
} */

.text_bold {
  font-weight: 600;
}

/* Sections How does it all go? */
.steps {
  max-height: 495px;
  margin-top: 35px;
  padding: 28px 26px 24px 24px;
  background-image: url('../img/steps_vector.svg'), url('../img/bg.jpg');
  background-position: center center, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: 55%, cover;

  border: 1.4px solid #8bac72;
  /* border: 1.40px solid var(--4); */
  border-radius: 20px;
}

.title_white {
  line-height: 100%;
  text-align: center;
  color: #fff;
  /* color: var(--5); */
}

.steps__list {
  min-height: 480px;
  margin-top: 25px;
  list-style: none;
  position: relative;
}

.steps__item {
  background-color: #fff;
  /* background-color: var(--5); */
  border-radius: 10px;
  padding: 0 14px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* !!! застилизовать номера списка согласно макета */
.steps__item:nth-child(1) {
  max-width: 188px;
  height: 42px;
  position: absolute;
  right: 20px;
  top: 0px;
  transform: rotate(4deg);
}

.steps__item:nth-child(2) {
  margin-top: 10px;
  max-width: 127px;
  height: 36px;
  position: absolute;
  left: 30px;
  top: 35px;
  transform: rotate(-4deg);
}

.steps__item:nth-child(3) {
  max-width: 213px;
  height: 42px;
  margin-top: 10px;
  position: absolute;
  right: 15px;
  top: 85px;
  transform: rotate(3deg);
}

.steps__item:nth-child(4) {
  max-width: 171px;
  height: 36px;
  margin-top: 10px;
  position: absolute;
  left: 25px;
  top: 140px;
  transform: rotate(-5deg);
}

.steps__item:nth-child(5) {
  max-width: 257px;
  height: 45px;
  margin-top: 10px;
  position: absolute;
  right: 15px;
  top: 200px;
  transform: rotate(3deg);
}

.steps__item:nth-child(6) {
  max-width: 202px;
  height: 36px;
  margin-top: 10px;
  position: absolute;
  left: 30px;
  top: 275px;
  transform: rotate(-4deg);
}

.steps__item:nth-child(7) {
  max-width: 151px;
  height: 36px;
  margin-top: 10px;
  position: absolute;
  right: 80px;
  top: 325px;
  transform: rotate(4deg);
}

.text_small {
  font-size: 12px;
  line-height: 117%;
}

/* Section Course program */
.program {
  margin-top: 35px;
}

/* !! переписать стиль с номерами согласно макета */
.program__list {
  list-style: none;
  margin-top: 5px;
  min-height: 480px;
  padding: 0 25px 0 28px;
  border-radius: 20px;
  background: #e5f8c8;
  /* background: var(--3); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.program__item {
  min-width: 245px;
  /* font-family: var(--font-family); */
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #002424;
  /* color: var(--1); */
}

.program__number {
  margin-right: 11px;
  /* font-family: var(--font-family); */
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #002424;
  /* color: var(--1); */
}

.open {
  display: flex;
  justify-content: center;
  width: 24px;
  border-radius: 100%;
  background-color: #fff;
  /* background-color: var(--5); */
}

.open img {
  width: 11px;
}

/* Section The author */
.author {
  margin-top: 35px;
}

.author__wrapper {
  background-color: #002424;
  height: 742px;
  border-radius: 20px 20px 0 0;
  position: relative;
}

.author__photo img {
  width: 100%;
}

.author__list {
  width: 100%;
  min-height: 442px;
  position: relative;
  bottom: 245px;
  list-style: none;
  padding: 0 25px 25px 25px;
  background: linear-gradient(
    rgba(0, 36, 36, 0),
    rgba(0, 36, 36, 0.7),
    rgba(0, 36, 36, 1),
    rgb(0, 14, 14)
  );
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.author__item {
  margin-top: 14px;
  min-width: 295px;
  height: 74px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e5f8c8;
  /* background: var(--3); */
  /* font-family: var(--font-family); */
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  line-height: 108%;
  text-transform: uppercase;
  color: #002424;
  /* color: var(--1); */
}

.author__item:nth-child(1) {
  /* background-color: none; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background: #e5f8c8; */
  background-color: rgba(0, 36, 36, 0);
  /* font-family: var(--font-family); */
  font-weight: 400;
  font-size: 26px;
  text-transform: uppercase;
  color: #e5f8c8;
  /* color: var(--3); */
}

.author__item_bold {
  color: #e5f8c8;
  font-style: italic;
  font-weight: 700;
  margin-left: 8px;
  /* color: var(--3); */
}

.author__item:nth-child(1) .author__item_small {
  display: block;
  /* font-family: var(--font-family); */
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #fff;
  /* color: var(--5); */
}

.author__item_small {
  display: block;
  /* font-family: var(--font-family); */
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 157%;
  color: #002424;
  /* color: var(--1); */
}

/* Section The customers */
.customers {
  margin-top: 120px;
  height: 220px;
  padding: 25px 25px 30px 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1.4px solid #f5f5f5;
  /* border: 1.40px solid var(--6); */
  border-radius: 20px;
  background: #fff;
  /* background: var(--5); */
}

.customers img {
  max-width: 135px;
}

.feedback {
  margin-top: 35px;
}

.feedback__card {
  max-height: 288px;
  border-radius: 20px;
  padding: 14px 25px 18px 32px;
  background: rgba(245, 245, 245, 0.5);
  /* background: var(--6); */
}

.card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar {
  width: 50px;
  margin-right: 12px;
}

.avatar__info {
  /* font-family: var(--font-family); */
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  color: #002424;
  /* color: var(--1); */
}

.avatar__info span {
  display: block;
  color: #8bac72;
  /* color: var(--4); */
}

.divider {
  height: 3px;
  background: #fff;
  /* background: var(--5); */
}

.student__review {
  margin-top: 13px;
  /* font-family: var(--font-family); */
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #002424;
  /* color: var(--1); */
}

.feedback-slider {
  margin: 20px auto 0 auto;
  width: 135px;
  /** пока для себя условная зона */
  border: 1px solid #8bac72;
}

.feedback-slider__arrow {
  width: 24px;
  height: 24px;
  background-color: #8bac72;
  /* background-color: var(--4); */
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Section Price */
.price {
  min-height: 530px;
}

.price__list {
  list-style: none;
}

.price__item {
  margin-top: 30px;
  width: 100%;
  height: 154px;
  padding: 40px 22px 21px 22px;
  border-radius: 20px;
  background: #e5f8c8;
  /* background: var(--3); */
  position: relative;
}

.price__item:nth-child(1) {
  margin-top: 40px;
}

.price__item:focus {
  background: #002424;
  /* background: var(--1); */
  color: #fff;
/* color: var(--5); */
}

.rate {
  width: 131px;
  height: 31px;
  border-radius: 10px;
  position: absolute;
  top: -4px;
  right: 25px;
  transform: rotate(4deg);
  background: #002424;
  /* background: var(--1); */
  /* font-family: var(--font-family); */
  font-weight: 700;
  font-size: 17px;
  line-height: 130%;
  text-transform: uppercase;
  color: #fff;
  /* color: var(--5); */
  text-align: center;
}

.rate span {
  font-weight: 400;
}

/* !! cкорее всего это уже реализовывать через JS */
/* .rate:focus {
  background: #fff; */
  /* background: var(--5); */
  /* border: #002424;
  color: #002424; */
  /* color: var(--1); */
/* }

.rate:focus span {
  color: #002424; */
  /* color: var(--1); */
/* } */

.format__info {
  display: flex;
    flex-direction: row;
    align-items: center;
}

.format__info img {
  margin-right: 14px;
}

.enroll {
  width: 170px;
  height: 50px;
  display: block;
  margin: 20px auto 0 auto;
  border: none;
  border-radius: 10px;
  background: #fff;
  /* background: var(--5); */
  /* font-family: var(--font-family); */
  font-weight: 400;
  font-size: 18px;
  color: #002424;
  /* color: var(--1); */
}

/* "./icons/ckeck-light.svg" */
/* стилизация ромбом каждого элемента li списка */

/* проверить на сегодня актуальную ширину моб телефонов  */
